* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');


/* font-family: 'Nunito', sans-serif; */
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

body {
  padding:0px;
  margin: 0px;
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  max-width: 1118px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 80px;
}
.logo {
  height: 60px;
  width: auto;
}

.SelectBoxMenu {
  color: #c2a46f;
  background-color: transparent;
  border:1px solid #c2a46f;
  text-shadow: none;
  padding: 0 14px;
  font-size: 14px;
  line-height: 30px;
  height: 35px;
  box-shadow: 0 2px 0 rgba(0,0,0,.035);
  outline: 0;
  border-radius: 4px;
}


.btn {
  color: #00d367;
  background-color: transparent;
  border:1px solid #00d367;
  text-shadow: none;
  padding: 0 14px;
  font-size: 14px;
  line-height: 30px;
  height: 35px;
  box-shadow: 0 2px 0 rgba(0,0,0,.035);
  outline: 0;
  border-radius: 4px;
}
.headerRight {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.headerRight  button {
  margin-left: 25px;
}
/* .login-form {
  margin: 0 auto;
  max-width: 350px;
} */
.form-row {
  margin-bottom: 20px; 
}
.form-row label {
  display: block;
  line-height: 30px;
  margin-bottom: 6px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #252525;
}
.form-row input, .form-row select {
  height: 50px;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border: none;
  overflow: visible;
  border: none;
  box-shadow:  0 0 2px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.15);
}
.login-form h1 {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  color: #40435a;
  font-weight: 500;
}

.submit-btn {
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 30px;
  height: 50px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  background-color: #00d367;
  border-color: #00d367;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.035);
  width: auto;
  margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa1b6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9fa1b6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa1b6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9fa1b6;
}


.loan {
  margin: auto;
  max-width: 1118px;
  background: #f5f5f5;
  padding: 20px 40px;
}
.template {
  margin: auto;
  max-width: 1118px;
  padding: 20px 40px;
}
.loan h2 {
  font-size: 36px;
  line-height: 38px;
}
 .app-col-6  {
    width: 50%;
    float: left;
 }

 .app-col-3  {
  width: 50%;
  float: left;
}
 .line {
   width: 95%;
   margin: auto;
   height: 1px;
   background-color: #ccc;
   display: inline-block;
 }

 .clear {
   clear: both;
 }

.form-left {
  padding-right: 30px;
} 
.text-center {
  text-align: center;
}

.text-x-large{
  font-size: x-large;
  height: 75px;
}

.text-xx-large{
  font-weight: 700;
  font-size: 22px;
}
.form_description {
  margin-top: 50px;
}
.form_operation {
  margin-bottom: 50px;
}
.border-left {
  position: relative;
}
.border-left::before {
  position: absolute;
  content: '';
  height: 200px;
  background: #ccc;
  width: 1px;
  left: -30px;
}
.form-caption {
  text-align: center;
}
.form-caption p {
  font-size: 12px;
  font-weight: 400;
}
.drop-left{
  padding-right: 10px;
}
.drop-right{
  padding-left: 10px;
}

.zui-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

button.orange {    
  color: #fff;
  border: solid 1px #da7c0c;    
  background-color: #faa51a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background-image: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px rgba(255,255,255, .4), inset 1px 0 rgba(255,255,255, .1), inset -1px 0 rgba(255,255,255, .1);          
  -moz-box-shadow: inset 0 1px rgba(255,255,255, .4), inset 1px 0 rgba(255,255,255, .1), inset -1px 0 rgba(255,255,255, .1);          
  box-shadow: inset 0 1px rgba(255,255,255, .4), inset 1px 0 rgba(255,255,255, .1), inset -1px 0 rgba(255,255,255, .1);              
}
button.orange:active, button.orange.active { background-color: #e27627; background-image: none; }

/*Model Popup*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-height: 100%;
  overflow-y: auto;
  padding: 20px 40px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.hidden{
  visibility: hidden;
}

.modal_footer input, .modal_footer button {
  height: 50px;
  padding: 15px 40px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  overflow: visible;
  border: none;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.15);
  display: inline-block;
  width: auto;
  margin-left: 30px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.15);
}

.modal_footer {
  text-align: right;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.form_title {
  font-size: 26px !important;
  padding-bottom: 24px;
}

.footer_action {
  display: block;
}
.footer_action input {
  width: auto;
  background: #3F51B5;
  color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.sucess {
  background-color: #4CAF50;
  color: #fff;
}
label+input {
  margin-bottom: 15px;
}
.cancel {
  background: #795548;
  color: #fff;
}
select[disabled]{
  background: #ebebe4;
}
